VITE_SUPABASE_URL=https://rkmxoqopptyuqhbeswqo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrbXhvcW9wcHR5dXFoYmVzd3FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0ODU1NzMsImV4cCI6MjA5MjA2MTU3M30.r_Mows0iPF_FULtFJGCQctxERy8E5JCIndyD-llDbIA
VITE_LIFF_ID=2009808077-q6H0su3r
VITE_LINE_OAUTH_CLIENT_ID=2009808077
VITE_LINE_OAUTH_REDIRECT_URI=https://baplcp.github.io/baplcp-signup/
